@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

body {
    margin: 0;
    padding: 0;
}

#title {
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
}

.infomation {
    padding-top: 25%;
    padding-left: 15%;
    padding-right: 10%;
    font-size: 25px;
}

.infomation ul li {
    list-style-type: none;
}

label, #Notes {
    font-weight: bold;
}

textarea {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#reset, #submit {
    font-size: 20px;
    width: 20%;
}

input,select:hover {
    cursor: pointer;
}